.map {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0 0 100px 0;
}

.mis-click-preventer::after {
    font-size: 2rem;
    color: ivory;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    content: 'Tap to view map';
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.map-wrapper {
    background-color: white;
    margin-top: 100px;
    display: inline-block;
    position: relative;
    background-image: url('../../../public/resources/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.map-wrapper::after {
    content: '';
    font-size: 1.3rem;
    color: rgb(94, 94, 94);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 5px 5px 5px 0 rgba(89, 89, 89, 0.5) inset;
    pointer-events: none;
}

.location {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(80, 80, 80);
    padding: 80px 20px 0 20px;
    font-optical-sizing: auto;
    font-weight: 500;
}

.location span {
    font-weight: bolder;
}

.place-by-place {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
}

@media (min-width:810px) {
    .colour-filler {
        height: 200px;
        width: 100%;
        background-color: rgb(216, 143, 143);
    }

    .map-wrapper {
        margin-top: 200px;
    }
}